body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  margin-left: 20px;
  padding-bottom: 5px;
}

.sort {
  display: inline;
  height: 20px;
  width: 40px;
}

.sortb {
  padding: 0;
  border: none;
  margin: 2px;
}

/* .sort .active {
  background-color: none;
  color: red;
} */

/* .btn-primary.active {

  background-color: none;
  color: red;
} */

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #272829;
  border-color: #272829;
  background-color: rgb(52, 152, 219);
}

/* .btn {
  background: #3498db;
} */
